<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p> <%= article.content %></p>


<hr />

<!-- </div> -->

<div class="commentSection">
  <% article.comments.forEach(comment => { %>
  <%= console.log('AAAAAAAAAAAAAAAAA')%>
  <div class="comment">
    <p>
      <%= comment.dataValues.content %>
    </p>
    <br>
    <div class="commentNameDate">
      <p>
        <%= comment.dataValues.commenter_name %> - <%= moment(comment.dataValues.createdAt).calendar() %>
      </p>
    </div>
  </div>
  <%  }); %>

<br><br>

<form action="/articles/:id/comment" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="commentName" class="nameInput">
  <br>
  <label for="comment">Comment:</label>
  <input type="text" name="commentText" class="commentInput">
  <input type="hidden" name="articleId" value="<%=article.dataValues.id%>">
  <br>

  <input type="submit">
</form>
<br><br>




  <a href="/">&larr; Back Home</a>