<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p>  <%= article.content %></p>

<p>  <%= db.article.findOne({ %> 
      <%=   where: {id : 1} %>
     <%= }).then(blob => { %>
      <%=   console.log(blob.comments[0].content) %>
     <%= }) %> </p>

<hr />

<a href="/">&larr; Back Home</a>
